body,
html {
  padding: 0;
  margin: 0;
  background: #f0f0f0;
}

a:visited,
a:link,
a:active {
  text-decoration: unset;
  color: inherit;
}

hr {
  border-radius: 100%;
  border: none;
  background: rgba(0, 0, 0, 0.4);
  height: 1px;
  display: block;
  margin-top: 0.4em;
}

/* Login Page styles */

.login-box {
  width: 30vw;
  height: 60vh;
  background: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50vw;
  top: 50vh;
  margin-left: -17vw;
  margin-top: -32vh;
  border-radius: 4px;
  text-align: center;
  padding: 1vw 1vh;
}

.login-logo {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}

.login-form {
  text-align: left;
  padding: 30px;
  padding-top: 4px;
}

.login-form .form-label {
  display: block;
  margin-top: 20px;
}

.login-form .form-control-title {
  margin: 8px;
}

.login-form .form-control {
  width: 100%;
  height: 48px;
  border-radius: 4px;
  border: none;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.4);
  padding-left: 8px;
  font-size: 1.5em;
}

.login-form .form-button {
  float: right;
  padding: 8px;
  font-size: 1.2em;
  background: #00e600;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

/* Header */

.header {
  background: #00e600;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
}

.header-logo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding: 4px;
}

.header-right {
  float: right;
  padding: 8px;
}

.header-menu {
  display: inline-block;
}

.header-menu,
.header-menu li {
  padding: 0;
  margin: 0;
}

.header-menu li {
  padding: 8px;
  font-size: 0.7em;
}

.header-menu .menu-items {
  list-style: none;
  background: #fff;
  padding: 8px;
  border-radius: 4px;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.7);
  display: none;
  position: absolute;
  right: 8px;
  max-width: 200px;
}

.header-menu:hover .menu-items {
  display: block;
}

.badge {
  position: relative;
  padding-right: 16px;
}

.badge .number {
  background: rgb(255, 86, 65);
  color: #fff;
  border-radius: 4px;
  position: absolute;
  right: -16px;
  top: -16px;
}

.notification-refresh-icon {
  float: right;
  cursor: pointer;
}

/* Content Page */

.content {
  padding-left: 21vw;
  padding-top: 52px;
}

/* Sidebar */

.sidebar {
  background: #fff;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.7);
  display: inline-block;
  width: 18vw;
  padding: 1vh 1vw;
  height: 98vh;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 48px;
}

.sidebar-item {
  padding-top: 8px;
}

/* Dashboard */

.counter {
  display: inline-block;
  width: 200px;
  margin: 8px;
  padding: 8px;
  color: #fff;
  position: relative;
  height: 142px;
  cursor: pointer;
  box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.4);
}

.counter-image {
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 48px;
  transition-duration: 0.3s;
}

.counter:hover .counter-image {
  width: 100px;
}

.counter-count {
  transition-duration: 0.4s;
  padding: 0;
  margin: 0;
  position: absolute;
}

.counter:hover .counter-count {
  font-size: 1.5em;
}

.counter.red {
  background: rgb(255, 86, 65);
  background: -moz-linear-gradient(
    top,
    rgba(255, 86, 65, 1) 0%,
    rgba(253, 50, 97, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 86, 65, 1) 0%,
    rgba(253, 50, 97, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 86, 65, 1) 0%,
    rgba(253, 50, 97, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff5641', endColorstr='#fd3261', GradientType=0);
}

.counter.orange {
  background: rgb(252, 190, 27);
  background: -moz-linear-gradient(
    top,
    rgba(252, 190, 27, 1) 1%,
    rgba(248, 86, 72, 1) 99%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(252, 190, 27, 1) 1%,
    rgba(248, 86, 72, 1) 99%
  );
  background: linear-gradient(
    to bottom,
    rgba(252, 190, 27, 1) 1%,
    rgba(248, 86, 72, 1) 99%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcbe1b', endColorstr='#f85648', GradientType=0);
}

.counter.green {
  background: rgb(76, 175, 80);
  background: -moz-linear-gradient(
    top,
    rgba(139, 195, 74, 1) 0%,
    rgba(76, 175, 80, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(139, 195, 74, 1) 0%,
    rgba(76, 175, 80, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(139, 195, 74, 1) 0%,
    rgba(76, 175, 80, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b747f7', endColorstr='#6c53dc',GradientType=0 );
}

.counter.purple {
  background: rgb(183, 71, 247);
  background: -moz-linear-gradient(
    top,
    rgba(183, 71, 247, 1) 0%,
    rgba(108, 83, 220, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(183, 71, 247, 1) 0%,
    rgba(108, 83, 220, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(183, 71, 247, 1) 0%,
    rgba(108, 83, 220, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b747f7', endColorstr='#6c53dc',GradientType=0 );
}

.paper {
  background: #fff;
  border-radius: 4px;
  padding: 8px;
  margin: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
}

.paper-actions {
  position: absolute;
  right: 8px;
  top: 8px;
}

.divider {
  background: rgba(0, 0, 0, 0.7);
  border: solid 0px;
  height: 2px;
  border-radius: 100%;
}

.table {
  width: 100%;
}

.table th,
.table td {
  padding: 4px;
}

.table th {
  background: rgba(0, 0, 0, 0.4);
  font-weight: 500;
}

.table tr {
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
}

.table-pagination td {
  padding-top: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.button {
  padding: 6px;
  margin: 4px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2em;
  box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.5);
}

.button.round {
  border-radius: 100%;
}

.button.red {
  background: rgb(255, 86, 65);
}

.button.green {
  background: rgb(76, 175, 80);
}

.button.purple {
  background: rgb(183, 71, 247);
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.avatar {
  border-radius: 100%;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  overflow-y: auto;
}

.hidden {
  display: none;
}

.overlay .popup {
  width: 48vw;
  margin-left: 25vw;
  padding: 1vh 1vw;
  margin-top: 10vh;
}

.form-control {
  border: solid 1px rgba(0, 0, 0, 0.4);
  position: relative;
  height: 32px;
  display: block;
  border-radius: 4px;
  margin-top: 8px;
}

.form-control-input {
  width: 99%;
  border: 0;
  height: 32px;
  background: transparent;
  border: none;
  padding-left: 8px;
}

.form-control-label {
  position: absolute;
  top: 4px;
  left: 4px;
  display: inline;
  transition-duration: 0.3s;
}

.form-control-input:focus + .form-control-label,
.form-control-input:valid + .form-control-label {
  top: -8px;
  background: #fff;
}

.form-control.form-control-image {
  width: 160px;
  height: 160px;
  margin: auto;
  margin-top: 8px;
  background-image: url(../images/add-black.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.form-control.form-control-image .form-control-input {
  height: 160px;
  opacity: 0;
  cursor: pointer;
}

.form-control.form-control-textarea {
  height: 100px;
  margin: auto;
  margin-top: 8px;
}

.form-control.form-control-textarea .form-control-input {
  height: 84px;
  padding-top: 16px;
}

.form-control.form-control-multi-select {
  max-height: 100px;
  height: unset;
  margin: auto;
  margin-top: 8px;
}

.form-control.form-control-multi-select .form-control-input {
  height: unset;
  padding-top: 16px;
  margin-top: 8px;
}

.form-buttons-right {
  display: flex;
  justify-content: flex-end;
}

.snacks {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 260px;
  padding-right: 8px;
  padding-left: 8px;
}

.snack {
  background: #0f0f0f;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  box-shadow: inset 0 0 2px #404040;
  margin:8px;
}

.snack-button {
  background: transparent;
  border-radius: 4px;
  padding:4px;
  margin:4px;
}

.snack-button.red {
  border: solid 2px rgb(255, 86, 65);
  color:  rgb(255, 86, 65);
}

.snack-button.green {
  border: solid 2px rgb(76, 175, 80);
  color:  rgb(76, 175, 80);
}

.snack.red {
  color:  rgb(255, 86, 65);
}

.snack.green {
  color:  rgb(76, 175, 80);
}