body,
html {
  padding: 0;
  margin: 0;
  background: #f0f0f0;
}

a:visited,
a:link,
a:active {
  text-decoration: unset;
  color: inherit;
}

hr {
  border-radius: 100%;
  border: none;
  background: rgba(0, 0, 0, 0.4);
  height: 1px;
  display: block;
  margin-top: 0.4em;
}

/* Login Page styles */

.login-box {
  width: 30vw;
  height: 60vh;
  background: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50vw;
  top: 50vh;
  margin-left: -17vw;
  margin-top: -32vh;
  border-radius: 4px;
  text-align: center;
  padding: 1vw 1vh;
}

.login-logo {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}

.login-form {
  text-align: left;
  padding: 30px;
  padding-top: 4px;
}

.form-label {
  display: block;
  margin-top: 20px;
}

.form-control-title {
  margin: 8px;
}

.form-control {
  width: 100%;
  height: 48px;
  border-radius: 4px;
  border: none;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.4);
  padding-left: 8px;
  font-size: 1.5em;
}

.form-button {
  float: right;
  padding: 8px;
  font-size: 1.2em;
  background: #00e600;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

/* Header */

.header {
  background: #00e600;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
}

.header-logo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding: 4px;
}

.header-right {
  float: right;
  padding: 8px;
}

.header-menu {
  display: inline-block;
}

.header-menu,
.header-menu li {
  padding: 0;
  margin: 0;
}

.header-menu li {
  padding: 8px;
  font-size: 0.7em;
}

.header-menu .menu-items {
  list-style: none;
  background: #fff;
  padding: 8px;
  border-radius: 4px;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.7);
  display: none;
  position: absolute;
  right: 8px;
  max-width: 200px;
}

.header-menu:hover .menu-items {
  display: block;
}

.badge {
  position: relative;
  padding-right: 16px;
}

.badge .number {
  background: #404040;
  color: #fff;
  border-radius: 4px;
  position: absolute;
  right: -16px;
  top: -16px;
}

.notification-refresh-icon {
  float: right;
  cursor: pointer;
}

/* Content Page */

.content {
  padding-left: 21vw;
  padding-top: 52px;
}

/* Sidebar */

.sidebar {
  background: #fff;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.7);
  display: inline-block;
  width: 18vw;
  padding: 1vh 1vw;
  height: 98vh;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 48px;
}

.sidebar-item {
  padding-top: 8px;
}

/* Dashboard */

.counter {
  display: inline-block;
  width: 200px;
  margin: 8px;
  padding: 8px;
  color: #fff;
  position: relative;
  height:142px;
  cursor: pointer;
}

.counter-image {
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 48px;
  transition-duration: .3s;
}

.counter:hover .counter-image {
  width: 100px;
}

.counter-count{
  transition-duration: .4s;
  padding:0;
  margin:0;
  position: absolute;
}

.counter:hover .counter-count {
  font-size: 1.5em;
}

.counter.red {
  background: rgb(255, 86, 65);
  background: -moz-linear-gradient(
    top,
    rgba(255, 86, 65, 1) 0%,
    rgba(253, 50, 97, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 86, 65, 1) 0%,
    rgba(253, 50, 97, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 86, 65, 1) 0%,
    rgba(253, 50, 97, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff5641', endColorstr='#fd3261', GradientType=0);
}

.counter.orange {
  background: rgb(252, 190, 27);
  background: -moz-linear-gradient(
    top,
    rgba(252, 190, 27, 1) 1%,
    rgba(248, 86, 72, 1) 99%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(252, 190, 27, 1) 1%,
    rgba(248, 86, 72, 1) 99%
  );
  background: linear-gradient(
    to bottom,
    rgba(252, 190, 27, 1) 1%,
    rgba(248, 86, 72, 1) 99%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcbe1b', endColorstr='#f85648', GradientType=0);
}

.counter.green {
  background: rgb(76, 175, 80);
  background: -moz-linear-gradient(top, rgba(139, 195, 74,1) 0%, rgba(76, 175, 80,1) 100%);
  background: -webkit-linear-gradient(top, rgba(139, 195, 74,1) 0%,rgba(76, 175, 80,1) 100%);
  background: linear-gradient(to bottom, rgba(139, 195, 74,1) 0%,rgba(76, 175, 80,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b747f7', endColorstr='#6c53dc',GradientType=0 );
}

.counter.purple {
  background: rgb(183,71,247);
background: -moz-linear-gradient(top, rgba(183,71,247,1) 0%, rgba(108,83,220,1) 100%);
background: -webkit-linear-gradient(top, rgba(183,71,247,1) 0%,rgba(108,83,220,1) 100%);
background: linear-gradient(to bottom, rgba(183,71,247,1) 0%,rgba(108,83,220,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b747f7', endColorstr='#6c53dc',GradientType=0 );
}

}
