body{
	background-image:url(../images/ccc.png);
	background-size:cover;
	background-repeat:no-repeat;
    margin: 0;
}
/* Header Styles */

#logo {
  width: 130px;
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 100;
}

.cart_user {
  position: absolute;
  right: 10px;
  top: 10px;
  fill: green;
}

#reglogin {
  position: absolute;
  right: 100px;
  top: 25px;
}

#navbar {
  width: 100%;
  height: 140px;
  background: #404040;
  text-align: center;
}

.header1 {
  position: absolute;
  font-size: 40px;
  top: 730px;
  left: 500px;
}
#cart {
  position: absolute;
  right: 15px;
  top: 18px;
}

#reglogin button,
login {
  background-color: #c1d72e;
  border: none;
  border-radius: 3px;
  padding: 5px;
  color: black;
}
.searchbtn {
  position: absolute;
  width: 20px;
  padding-left: 0px;
  right: 9px;
  top: 5px;
  border-radius: 10px;
}

.search {
  float: right;
  margin-right: 8px;
    margin-top: -8px;
  position: relative;
}

.searcharea {
  background-color: #c1d72e;
  border: none;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  padding-left: 8px;
  transition-duration: 0.5s;
  position: absolute;
  right: 8px;
}

.searcharea:focus {
  width: calc(100vw - 200px);
}

#navlist {
  font-size: 20px;
  text-align: center;
  display: inline-block;
  padding-right: 80px;
}

#navlist a {
  padding-left: 30px;
  padding-right: 30px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

.menu {
  position: relative;
  display: inline-block;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.menu-content {
  color: black;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.menu:hover .menu-content {
  display: block;
}

.menu li,
.menu li a {
  padding: 0px !important;
  margin: 0px !important;
}

.header-second-bar {
  background: #404040;
  color: #fff;
  padding: 16px;
  margin-top: 26px;
  position: relative;
}

#cname {
  color: #c1d72e;
  font-family: cursive;
  font-size: 50px;
}


/** Contents **/

h1{
	font-family: "Arial", times, serif;
	font-size: 75px;
	text-align: center;
	margin:0;
}

h3{
	font-family: "Arial", times, serif;
	font-size: 30px;
	text-align: center;
}

div.a{
	font-family: "Arial", times, serif;
	font-size: 20px;
	text-align: center;
	margin-top:24px;
}

div.b{
	margin:50px 150px;
}
div.b div.form{
	float:left;
	width:650px;
}

input , textarea{
	padding:5px;
	width:450px;
	font-family:"Times new roman", serif;
	border:none;
	border-radius:5px;
}

button{
	background:#A9A9A9;
	color:white;
	border:none;
	border-radius:5px;
	padding:10px 15px;
	font-family:"Times new roman", serif;
	
}

div.b div.info{
	float:right;
	
	
}

div.info p{
	padding:3px;

}

div.socialmedia ul{
	list-style:none;
}
div.socialmedia ul li{
	padding:10px;
	display:inline-block;
}	

/* Footer */

.footer {
  border: 0;
  width: 100%;
  height: 200px;
  background-color: #cdd0ce;
}

.links {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 20px;
}

.socialbtn {
  margin-right: 0px;
  margin-top: -40px;
}

footer .socialbtn img {
  position: relative;
  float: right;
  width: 50px;
  bottom: 100px;
  padding: 5px;
}

.footer .copyright {
  width: 100%;
  margin-top: 32px;
  border-top: solid 1px rgba(48, 22, 4, 0.4);
  text-align: center;
  padding-top: 8px;
}

.footer td {
  position: relative;
  padding: 8px;
}

.footer td .vertical-line {
  width: 2px;
  height: 100%;
  position: absolute;
  background: rgba(48, 22, 4, 0.4);
  right: 16px;
  top: 0;
  border-radius: 100%;
}

