body {
  background-color: #ffffff;
}

/* Header Styles */

#logo {
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.cart_user{
    position: absolute;
    right: 10px;
    top: 5px;
    fill: green;
}

#reglogin {
  position: absolute;
  right: 100px;
  top: 25px;
}

#navbar {
  width: 100%;
  height: 140px;
  background-image: url(../images/headerbcak.jpg);
  text-align: center;
}

.header1 {
  position: absolute;
  font-size: 40px;
  top: 730px;
  left: 500px;
}
#cart {
  position: absolute;
  right: 15px;
  top: 18px;
}

#reglogin button,
login {
  background-color: lawngreen;
  border: none;
  border-radius: 3px;
  padding: 5px;
}
.searchbtn {
  position: absolute;
  width: 20px;
  padding-left: 0px;
  right: 9px;
  top: 5px;
  border-radius: 10px;
}

.search {
  float: right;
  margin-right: 8px;
  position: relative;
}

.searcharea {
  background-color: greenyellow;
  border: none;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  padding-left: 8px;
  transition-duration: 0.5s;
  position: absolute;
  right: 8px;
}

.searcharea:focus {
  width: calc(100vw - 200px);
}

#navlist {
  font-size: 20px;
  text-align: center;
  display: inline-block;
  padding-right: 80px;
}

#navlist a {
  padding-left: 30px;
  padding-right: 30px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

.menu {
  position: relative;
  display: inline-block;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.menu-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.menu:hover .menu-content {
  display: block;
}

.menu li,
.menu li a {
  padding: 0px !important;
  margin: 0px !important;
}

.header-second-bar {
  background: #404040;
  color: #fff;
  padding: 16px;
  margin-top: 26px;
  position: relative;
}

/* 

/* Content */

#cname {
  font-family: cursive;
  font-size: 50px;
}



html,
body {
  margin: 0px;
  padding: 0px;
}


/*main table for products*/
.prodctable td{
    border: 0px;
    vertical-align: top;
}

.footertbl td{
    border: 1px1
    vertical-align: top;
}

.prodct{
    width: 200px;
}
/*Colgroup*/
/*
.one{
    width: 20%;
}

.two{
    width: 10%;
}

.three{
    width: 70%;
}
*/
/*end of colgroup*/

.prodtable{
    margin-top:  50px;
    margin-bottom: 30px;
    left: 20px;
    background-color: rgb(204, 234, 195);
    border: none;
}

.buycart{
    padding: 7px;
    padding-left: 30px;
}

.buycart button{
    border-radius: 5px;
    
}

/*category list*/

.prodtable a{
    padding: 10px;
    font-size: 15px;
}
/*end of category list*/

.space{
    width: 70px;
    background-color: #ffffff;
}

.space2{
    background-color: #ffffff;
}

/*product image*/
.prodtable img{
    width: 200px;
    padding: 10px;
    vertical-align: top;
}

.price{
    width: 200px;
}

.price a{
    vertical-align: bottom;
    padding: 20%;
    font-size: 20px;
}

/*end of product image*/

/*product description*/


.pdescript{
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 10px;
}


/*Quantity and buy now*/

.quanvalue{
    width: 20px;
    text-align: center;
}

.quantity{
    padding: 20px;
    padding-left: 0;
}

.buycart{
    padding: 30px;
}
/*end of quantity and buy now*/


.title a{
    font-size: 20px;
    font-family: monospace;
}

.descrpt{
    padding-top: 20px;
}

.descrpt a{
    font-size: 15px;
}
/*end of product description*/

/*Price area*/
.pricearea{
    width: 200px;
}
/*end of price area*/

/*Suggestion*/

.suggestion{
    padding: 50px;
    padding-left: 100px;
    
}
.thumbnail{
    display: inline-block;
    justify-content: center;
    border: double 7px;
}

suggesttxt{
    position: absolute;
    display: flex;
    width: 100%;
    height: 200px;
    margin-top: 3%;
    justify-content: center;
}

.suggesttxt a{
    display: inline-block;
    padding: 10% 1% 1% 50%;
}

.suggestion a{
    position: inherit;
    margin-left:
    font-size: 20px;
}

.thumbnail{
    height: 130px;
    width: 130px;
    background-size: cover;
    background-position:center;   
}
/*end of suggestions*/

.footer{
    width: 100%;
    height: 200px;
    background-color: #cdd0ce;
}

.tab1{
    width: 20%;
}
.tab2{
    width: 20%;
}
.tab3{
    width: 20%;
}
.tab4{
    width: 20%;
}

.copyright{
    height: 10px;
}
.copyrighttxt{
    font-size: 10px;
    text-align: center;
} 

.footertbl{
    width: 100%;
    max-width: 1340px;
    height: 190px;
    margin: 10px;
}

.footertbl img{
    vertical-align: top;
    width: 40px;
    float: right;
    padding: 5px
}
