.box{
    border:dotted 2px blue;
    padding: 15px;
    margin:auto;
    width:500px;
    margin-top: 20px;
    
}
.box-title{
    padding:0px;
    margin: 0px;
    background: white;
    margin-top: -24px;
    width:160px;
    padding-left: 8px;
}
label{
    display:inline-block;
    width: 300px;
}
.fix-width{
    border-radius: 4px;
    width:150px;
}

.bttn1{
    margin-left: 200px;
    padding:8px;
    font-size:1.2em;
    background: #00e600;
    border:0;
    border-radius:4px;
    color:#fff;
    cursor: pointer
}
.other{
    margin-left: 200px;
}
.allign-text{
    text-align: center;
   margin-top: -18px;
}
.allign-text a{
    background: white;
    padding-left: 8px;
    padding-right: 8px;
}
.social-login img{
    width: 24px;
    margin-left: 20px;
    margin-right: 20px;
}
.social-login {
    text-align: center
    
}
.error{
    color:red;
    font-size: 10px;
    text-align:right;
    padding-right: 45px;
}




