body {
  background-color: #d5e7fc;
}

/* Header Styles */

#logo {
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

#reglogin {
  position: absolute;
  right: 45px;
  top: 20px;
}

#navbar {
  width: 100%;
  height: 140px;
  background-color: #4b2b2b;
  text-align: center;
}

.header1 {
  position: absolute;
  font-size: 40px;
  top: 730px;
  left: 500px;
}
#cart {
  position: absolute;
  right: 15px;
  top: 18px;
}

#reglogin button,
login {
  background-color: lawngreen;
  border: none;
  border-radius: 3px;
  padding: 5px;
}
.searchbtn {
  position: absolute;
  width: 20px;
  padding-left: 0px;
  right: 9px;
  top: 5px;
  border-radius: 10px;
}

.search {
  float: right;
  margin-right: 8px;
  position: relative;
}

.searcharea {
  background-color: greenyellow;
  border: none;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  padding-left: 8px;
  transition-duration: 0.5s;
  position: absolute;
  right: 8px;
}

.searcharea:focus {
  width: calc(100vw - 200px);
}

#navlist {
  font-size: 20px;
  text-align: center;
  display: inline-block;
  padding-right: 80px;
}

#navlist a {
  padding-left: 30px;
  padding-right: 30px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

.menu {
  position: relative;
  display: inline-block;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.menu-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.menu:hover .menu-content {
  display: block;
}

.menu li,
.menu li a {
  padding: 0px !important;
  margin: 0px !important;
}

.header-second-bar {
  background: #404040;
  color: #fff;
  padding: 16px;
  margin-top: 26px;
  position: relative;
}

#cname {
  font-family: cursive;
  font-size: 50px;
}

/* Slide Show */

.slideshow {
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: 32px;
  overflow: hidden
}

.slideshow .slider {
  height: 500px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 100vw;
  transition-duration: .5s;
  opacity: 1;
}

.slideshow .slider.left {
  right: 100%;
  left: unset;
  opacity: 0;
  height: 250px;
}

.slideshow .slider.right {
  left: 100%;
  right: unset;
  opacity: 0;
  height: 250px;
}

.slideshow .numbers {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 8px;
  text-align: center;
}

.slideshow .button {
    background: rgba(0,0,0,0.6);
    border-radius: 100%;
    padding: 4px;
    color:#fff;
    cursor: pointer;
}

.slideshow .button.active {
    background: #fff;
    color:#404040;
}

.slideshow .button.nxt-button{
    position: absolute;
    right: 8px ;
    top: 240px;
}

.slideshow .button.prv-button{
    position: absolute;
    left: 8px ;
    top: 240px;
}

/* Content */

.item img {
  height: 150px;
}

.item button img {
  height: unset;
}

.thumbnail {
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
}

.item {
  width: 200px;
  display: inline-block;
  margin-left: 50px;
  margin-bottom: 50px;
}

.addcart {
  width: 20px;
}

.footer {
  position: absolute;
  border: 0;
  top: 1800px;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: #cdd0ce;
}

.links {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 20px;
}

.socialbtn {
  margin-right: 20px;
}

footer .socialbtn img {
  position: relative;
  float: right;
  width: 50px;
  bottom: 100px;
  padding: 5px;
}

.footer .copyright {
  margin-left: 600px;
}

.items {
  position: absolute;
  top: 800px;
}

html,
body {
  margin: 0px;
  padding: 0px;
}
