body{
    background-color: #d5e7fc;
}

#logo{
    width: 100px;   
}

.items{
    position: absolute;
    top: 800px;
}

.slideshow{
    position: absolute;
    left: 200px;
    top: 150px;
}

#reglogin{
    position: absolute;
    right: 45px;
    top: 20px;
}

#navbar{
    
    background-color: #00e600;
}
   
html,body{
    margin: 0px;
    padding: 0px;
}

.header1{
    position: absolute;
    font-size: 40px;
    top: 730px;
    left: 500px;
}
#cart{
   position: absolute;
    right: 15px;
    top: 18px; 
}

#reglogin button,login{
    background-color: lawngreen;
    border: none;
    border-radius: 3px;
    padding: 5px;
}

#cname{
    position: absolute;
    font-family: cursive;
    font-size: 50px;
}

#navlist{
    position: absolute;
    top: 70px;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

#navlist a{
    padding-left: 30px;
    padding-right: 30px;
}

a:link,a:visited,a:active{
    text-decoration: none;
    color: inherit;
}

.menu{
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.menu-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.menu:hover .menu-content{
    display: block;
}

.menu li, .menu li a{
    padding: 0px!important;
    margin: 0px!important;
}


.item img{
    height: 150px;
}

.item button img{
    height: unset;
}

.thumbnail{
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position:center; 
}

.item{
    width: 200px;
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 50px; 
}

.addcart{
    width: 20px;
}

.searchbtn{
    position: absolute;
    width: 20px;
    padding-left: 0px;
    right: 9px;
    top: 5px;
    border-radius: 10px;
}

.search{
    position: absolute;
    right: 10px;
    top: 60px;
}

.searcharea{
    background-color: greenyellow;
    border: none;
    width: 250px;
    height: 30px;
    border-radius: 5px;
}

.footer{
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 200px;
    background-color: aqua;
}