body{
   background-image: url(../images/ca.jpg);
    background-size:cover;
    margin:0
}

.table-height{
    height: 100vh;
}
.col1{
    text-align: center;
    width:200px;
}

.image{
    text-align: center;
    width: 250px;
}

.myprofile{
    text-align:center;
}

.text-format{ 
    text-align:left;
}

.col2border{
    padding-left: 15px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.secondcol{
    margin-left:170px;
}

#accountLink {
    border-radius: 5px;
    width:100%;
    height:100%;
    background-color: azure;
}